
**/*

# 注意这里需要递归地去写；
!V1/
!V1/**
!V1/*

V1/cache_dir
V1/lightning_logs
V1/checkpoint_dir
V1/tmp_dir/

!scripts/
!scripts/*

!README.md
!.gitignore

!config/
!config/**
!config/*

**/__pycache__
















